Pandas-DataFrame And Series:-

Pandas is a powerful data manipulation library in Python, widely used for data analysis and data cleaning. It provides two primary data structures: Series and DataFrame. A Series is a one-dimensional array-like object, while a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

In [1]:
## Series
##A Pandas Series is a one-dimensional array-like object that can hold any data type. It is similar to a column in a table.

import pandas as pd 

data=[1,2,3,4,5]
series=pd.Series(data)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [2]:
## Create a Series from dictionary

data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print(series_dict)
print(type(series_dict))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
data=[10,20,30]
index=['a','b','c']

pd.Series(data,index)

a    10
b    20
c    30
dtype: int64

In [4]:
## Dataframe
## Dataframe
## create a Dataframe from a dictionary oof list

data={
    'Name':['Izhar','John','Jack'],
    'Age':[21,30,45],
    'City':['Bangalore','New York','Florida']
}

df=pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age       City
0  Izhar   21  Bangalore
1   John   30   New York
2   Jack   45    Florida
<class 'pandas.core.frame.DataFrame'>

In [7]:
import numpy as np
np.array(df)

array([['Izhar', 21, 'Bangalore'],
       ['John', 30, 'New York'],
       ['Jack', 45, 'Florida']], dtype=object)

In [9]:
## Create a Data frame From a List of Dictionaries

data=[
    {'Name':'Izhar','Age':21,'City':'Bangalore'},
    {'Name':'John','Age':34,'City':'Bangalore'},
    {'Name':'Bappy','Age':32,'City':'Bangalore'},
    {'Name':'JAck','Age':32,'City':'Bangalore'}
    
]
df=pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age       City
0  Izhar   21  Bangalore
1   John   34  Bangalore
2  Bappy   32  Bangalore
3   JAck   32  Bangalore
<class 'pandas.core.frame.DataFrame'>